@orange: #dba000;
@lightgray: #7e8489;
@white: #fff;
@margin-measure: 8px;
@vspace: 3.5rem;
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2.1rem;
    font-weight: 400;
}

.orange {
    color: @orange;
    font-weight: 500;
}

.lightgray {
    color: @lightgray;
}

.uppercase {
    text-transform: uppercase;
}

.subtitle {
    .lightgray();
    .uppercase();
    letter-spacing: 2px;
    font-weight: 500;
}

.space2 {
    padding-top: @margin-measure * 2;
    padding-bottom: @margin-measure * 2;
}

.space3 {
    margin-top: @margin-measure * 4;
    margin-bottom: @margin-measure * 4;
}

.vspace {
    height: @vspace;
}

p {
    text-align: justify;
}

/* Style the tab */

.tab {
    // overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: @white; // float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: inline-block;
    border-bottom: 2px solid lighten(@orange, 40);
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: darken(@white, 2);
    font-weight: 500;
}

/* Create an active/current tablink class */

.tab button.active {
    // background-color: #ccc;
    border-bottom: 2px solid darken(@orange, 2);
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Chart Pie */

#menu {
    display: block;
    margin: 0 auto;
    /*overflow: visible; /* uncomment this if you are using bouncing animations*/
}

.st0 {
    fill: url(#SVGID_1_);
    stroke: #FFFFFF;
}

.st1 {
    fill: url(#SVGID_2_);
    stroke: #FFFFFF;
}

.st2 {
    fill: url(#SVGID_3_);
    stroke: #FFFFFF;
}

.st3 {
    fill: url(#SVGID_4_);
    stroke: #FFFFFF;
}

.st4 {
    fill: url(#SVGID_5_);
    stroke: #FFFFFF;
}

.st5 {
    fill: url(#SVGID_6_);
    stroke: #FFFFFF;
}

.st6 {
    fill: url(#SVGID_7_);
    stroke: #FFFFFF;
}

.st7 {
    fill: url(#SVGID_8_);
}

.st8 {
    opacity: 0.17;
    fill: url(#SVGID_9_);
}

.st9 {
    fill: #FFFFFF;
}

.st10 {
    font-family: 'Helvetica';
}

.st11 {
    font-size: 19.6128px;
}

.st12 {
    font-family: 'MicrosoftSansSerif';
}

.st13 {
    font-size: 18.7188px;
}

.st14 {
    letter-spacing: 1.1;
}

.st15 {
    font-size: 17.8266px;
}

a {
    cursor: pointer;
    /* SVG &lt;a&gt; elements don't get this by default, so you need to explicitly set it */
    outline: none;
}

/* You can change these default styles any way you want */

.item .sector {
    transition: all .1s linear; // fill: url(#linear);
    //  stroke: #111;
}

.item:hover .sector,
.item:focus .sector {
    fill: rgb(125, 200, 188);
}

.menu-trigger {
    pointer-events: auto;
    /* KEEP THIS to make sure it stays clickable even when SVG's pointer events is disabled */
}

.menu-trigger:hover,
.menu-trigger:focus {
    cursor: pointer;
}